<footer class="footer">
    <div class="container">
        <p>&copy; 2026 England Over 40s Cricket. All rights reserved.</p>
        <div class="social-links">
            <a href="#" target="_blank" aria-label="Spond"><i class="fab fa-spond"></i>Spond</a> | 
            <a href="#" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i>YouTube</a> | 
            <a href="#" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i>Facebook</a> | 
            <a href="#" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i>Twitter</a> |
            <a href="/news/index.html">News</a> |
            <a href="/sponsors/index.html">Sponsors</a>
        </div>
        <div class="logo-row">
            <img src="/assets/img/logos/ecb-logo.svg" alt="ECB Logo">
            <img src="/assets/img/logos/imc-logo.svg" alt="IMC Logo">
        </div>
    </div>
</footer>
